<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>iFarm</title>
</head>
    <p>Field History</p>
    <p>Field_ID:{{gpx_id}}</p>
    <table border="1">    
        <tr>
            <th>Date Planted</th>
            <th>Farmer ID</th>
            <th>RSBSA ID</th>
            <th>Crop</th>
            <th>Seed Program</th>
            <th>Seed Source</th>
            <th>Yield</th>
            <th>Damage Cause</th>
            <th>Damage Date</th>
            <th>Damage Program</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
            <td>{{i[3]}}</td>
            <td>{{i[4]}}</td>
            <td>{{i[5]}}</td>
            <td>{{i[6]}}</td>
            <td>{{i[7]}}</td>
            <td>{{i[8]}}</td>
            <td>{{i[9]}}</td>
        </tr>
        {% endfor %}
    </table>

<body>
</body>
</html>