<html>
    <p>Index</p>
        <p><a href="localhost:5000/get_map_markers_by_gpx_id_rcm">RCM - Get specific map markers</a></p>
        <p><a href="localhost:5000/get_map_polygon_by_gpx_id_rcm">RCM - Get specific map polygons</a></p>
        <p><a href="localhost:5000/get_all_map_polygon_by_gpx_id_rcm">RCM - Get all map polygons</a></p>
        <p><a href="localhost:5000/get_all_map_centroids_from_gpx_infos_rcm">RCM - Get all map markers</a></p>
        <p><a href="localhost:5000/get_all_map_markers_by_gpx_id_iFarm">iFarm - Get all map markers</a></p>
        <p><a href="localhost:5000/get_map_markers_by_gpx_id_iFarm">iFarm - Get gpx id map markers</a></p>
</html>