<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>iFarm</title>
</head>
<body>
    <h1>Reports</h1>
    <h1>Planting Data</h1>
    <div id='chart' class='chart'”></div>
    <h1>Harvesting Data</h1>
    <div id='chart1' class='chart'”></div>
    <h1>Damage and Losses</h1>
    <div id='chart2' class='chart'”></div>
    <h1>Rehabilitation and Recovery Activities</h1>
    <div id='chart3' class='chart'”></div>
</body>
</html>